.listCard {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

.Card {
  background-image: url("./../picture/wall.jpg");
  color: white;
  width: 320px;
  box-sizing: border-box;
  margin: 0 11% 5% 0;
  max-height: 430px;
  border: 1px solid black;
}

.Card .itemCenter {
  justify-content: center;
}

.Card .title {
  padding: 5px 15px 10px 15px;
  background-color: red;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
}

.row {
  width: 320px;
  padding: 0px;
  padding-left: 24px;
}

.Card .footer {
  background-color: white;
  color: black;
  padding: 14.5px 0px;
}

.Card .iconDes i {
  font-size: 50px;
  padding: 10px 0px;
}

.Card .footerBody {
  padding: 10px 0px;
  padding-left: 25px;
}

.Card .temp {
  font-size: 100px;
}

.Card .temp i {
  font-size: 25px;
}

.footer {
  display: flex;
  padding: 20px 0px;
}

.footer i {
  font-size: 30px;
}
.cardLeft,
.cardRight {
  display: flex;
}

.footerBody .arrow {
  font-size: 35px;
}

.footer .cardRight {
  margin-left: auto;
}

.footer .wrap-content {
  margin-left: 20px;
}
