.sidebar{
    cursor: pointer;
    padding: 5px 0px 5px 30px;
    box-sizing: border-box;
}

.sidebar .haveCity:hover{
    color: rgb(62, 125, 226);
}

.sidebar .unknowCity{
    text-decoration: line-through;
    pointer-events: none;
    cursor: not-allowed;
}
.sidebar div{
    padding: 0px 8px;
}