.App{
  display: flex;
  margin: 2rem;
}

.App .content{
  width: 66.67%;
}

.App .sidebar{
  text-align: center;
  width: 33.33%;
}

.listCard{
  display: flex;
}

.App input:focus{
  background-color: rgb(198, 221, 243);
  color: rgb(167, 36, 36);
}